<div class="d-flex flex-row justify-content-between pro-dashboard-telephone" style="height: 100%;">
  <%# sidebar all my service %>
  <div>
    <%= render "shared/all_service", selected_professional: nil %>
  </div>

  <div class="text-center m-4" style="width: 100%;">
    <h4> <strong> Bienvenue sur votre tableau de bord </strong></h4>
    <p class="m-4">Veuillez sélectionner un service pour voir votre planning </p>
  </div>
</div>


<div class="pro-dashboard-tablette">
  <p>Veuillez utiliser un grand écran...</p>
</div>
