// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dsbteudoz/image/upload/v1733824584/andrew-s-ouo1hbizWwo-unsplash_ym5hee.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  width: 100%;
  border-radius: 0 0 25px 25px;

  @media (max-width: 768px) {
    padding: 150px 0;
  }

  @media (max-width: 480px) {
    padding: 100px 0;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  font-size: 40px;
  font-weight: lighter;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

// Card professionnels

.card-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px !important;
  width: 350px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 20px;

  p {
    font-size: 16px;
    margin: 0;
  }
}


// scrollbar

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 px rgba(0, 0, 0, .3);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #efa690;
}

@media (hover: none) and (pointer: coarse) {
  .custom-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .custom-scroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


// icon
.icon-custom{
  font-size: 24px;
  color: black !important;
}

// btn-spa
.btn-spa{
  font-size: 20px;

  @media (max-width: 768px) {
    height:50px;
    padding: 5px 15px !important;
    font-size: 15px;
    margin-top: 10px !important;
  }

  @media (max-width: 480px) {
    height:40px;
    padding: 0 10px !important;
    font-size: 12px;
    margin-top: 10px !important;
  }
}

// card-appointment
.card-appointment {
  width: 50%;

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 480px) {
    width: 95%;
  }
}
