<div class="d-flex flex-column shadow"  style="width: 300px; height: 100vh; background-color:rgba(236, 230, 230, 0.31); padding: 20px">
  <div class="text-center m-4">
    <h3> Mes Services </h3>
  </div>
  <% @professionals.each do |professional| %>
    <a href="<%= pro_show_user_path(current_user, professional) %>" class="btn btn-outline-info m-1 text-black rounded rounded-4 <%= 'btn-primary' if professional == selected_professional %>">
      <%= professional.specialty %>
    </a>
  <% end %>
</div>
