<div class="d-flex flex-row align-items-center">
  <%= link_to :back, class:"text-decoration-none text-primary", style:"font-size: 16px" do%>
  <i class="fa-solid fa-chevron-left text-primary ms-4 me-3 mt-3"></i>Retour
  <% end %>
</div>
