
<div class="m-4">
  <%= week_calendar(events: @appointments, professional: @professional) do |date, events| %>
    <div>
      <p data-appointment-target="date">
        <%= date.strftime("%d-%m-%Y") %>
      </p>
      <% events.each do |event| %>
        <p><%= event.user.first_name%> <%= event.user.last_name%></p>
      <% end %>
    </div>
  <% end %>
</div>
