<div>
  <%= render "shared/back"%>
</div>
<div class="container">
  <h1 class="text-center my-4">Politique de confidentialité</h1>
  <div class="row">
    <div class="form-devise">
      <p>
        Nous respectons votre vie privée et nous nous engageons à protéger vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations.
      </p>

      <h2>Collecte des informations</h2>
      <p>
        Nous collectons des informations lorsque vous vous inscrivez sur notre site, passez une commande, vous abonnez à notre newsletter ou remplissez un formulaire. Les informations collectées incluent votre nom, votre adresse e-mail, votre numéro de téléphone et/ou votre carte de crédit.
      </p>
      <h2>Utilisation des informations</h2>
      <p>
        Toute information que nous collectons auprès de vous peut être utilisée pour :
        <ul>
          <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
          <li>Fournir un contenu publicitaire personnalisé</li>
          <li>Améliorer notre site web</li>
          <li>Améliorer le service client et vos besoins de prise en charge</li>
          <li>Vous contacter par e-mail</li>
          <li>Administrer un concours, une promotion, ou une enquête</li>
        </ul>
      </p>
      <h2>Protection des informations</h2>
      <p>
        Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d'effectuer un travail spécifique (par exemple, la facturation ou le service client) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.
      </p>
      <h2>Consentement</h2>
      <p>
        En utilisant notre site, vous consentez à notre politique de confidentialité.
      </p>
    </div>
  </div>
</div>
